@import url("https://fonts.googleapis.com/css?family=Lato:400");

:root {
  /*PRIMARY*/

  --burnt-sienna-50: #fef2f2;
  --burnt-sienna-100: #fee2e2;
  --burnt-sienna-200: #fdcbcb;
  --burnt-sienna-300: #fba6a6;
  --burnt-sienna-400: #f67373;
  --burnt-sienna-500: #ee5959;
  --burnt-sienna-600: #d92929;
  --burnt-sienna-700: #b61f1f;
  --burnt-sienna-800: #971d1d;
  --burnt-sienna-900: #7d1f1f;
  --burnt-sienna-950: #440b0b;

  /* grey */
  --grey-50: hsl(204, 26%, 96%);
  --grey-100: hsl(207, 22%, 90%);
  --grey-200: hsl(211, 23%, 82%);
  --grey-300: hsl(208, 23%, 69%);
  --grey-400: hsl(210, 22%, 49%);
  --grey-500: hsl(211, 24%, 43%);
  --grey-600: hsl(213, 23%, 36%);
  --grey-700: hsl(216, 20%, 31%);
  --grey-800: hsl(217, 17%, 27%);
  --grey-900: hsl(218, 16%, 24%);
  --grey-950: hsl(221, 21%, 15%);

  /*REST OF COLORS*/
  --black: #222;
  --white: #fff;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --red-light: #f8d7da;
  --red-dark: #842029;
}

*,
*::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

body {
  background: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

.text {
  min-width: 40em;
}
