@import url("https://fonts.googleapis.com/css?family=Lato:400");

:root {
  /*PRIMARY*/

  --burnt-sienna-50: hsl(0, 100%, 97%);
  --burnt-sienna-100: hsl(0, 93%, 94%);
  --burnt-sienna-200: hsl(0, 93%, 89%);
  --burnt-sienna-300: hsl(0, 91%, 82%);
  --burnt-sienna-400: hsl(0, 88%, 71%);
  --burnt-sienna-500: hsl(0, 81%, 64%);
  --burnt-sienna-600: hsl(0, 70%, 51%);
  --burnt-sienna-700: hsl(0, 71%, 42%);
  --burnt-sienna-800: hsl(0, 68%, 35%);
  --burnt-sienna-900: hsl(0, 60%, 31%);
  --burnt-sienna-950: hsl(0, 72%, 15%);

  /* grey */
  --grey-50: hsl(204, 26%, 96%);
  --grey-100: hsl(207, 22%, 90%);
  --grey-200: hsl(211, 23%, 82%);
  --grey-300: hsl(208, 23%, 69%);
  --grey-400: hsl(210, 22%, 49%);
  --grey-500: hsl(211, 24%, 43%);
  --grey-600: hsl(213, 23%, 36%);
  --grey-700: hsl(216, 20%, 31%);
  --grey-800: hsl(217, 17%, 27%);
  --grey-900: hsl(218, 16%, 24%);
  --grey-950: hsl(221, 21%, 15%);

  /*REST OF COLORS*/
  --black: #222;
  --white: #fff;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --red-light: #f8d7da;
  --red-dark: #842029;

  /* reset of wars*/

  --backgroundcolor: var(--grey--50);
  --textcolor: var(--grey-950);
  --border-radius: 0, 25rem;
  --letter-spacing: 0.05em;
  --transition: all 0.3sease-in-out;
  --view-witdh: 90vw;
  --fixed-width: 600px;

  /* box shadow*/

  --shadow: box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);



/* font size fluide responsive */
    --font-size-small: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --font-size-p: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-h5: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-h4: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-h3: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --font-size-h2: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-h1: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}


*::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

body {
  background: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}

p {
  margin-bottom: 1rem;
  
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

.text {
  min-width: 40em;
}
a{
  text-decoration: none;
}

ul{
  list-style: none;
  padding:0;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  cursor: pointer;
  color: var(--burnt-sienna-500)
}

.btn {
  background-color: #0f5132;
  box-shadow: #842029;
}

.btn hipster:hover {
  color: var(--burnt-sienna-700);
  background: var(--burnt-sienna-300);
}

/*alerte*/
.alert{
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border: transparent;
  border-radius: var(--burnt-sienna-900);}

  .alert-succes {color: var (--burnt-sienna-950); 
  background-color: var(-burnt-sienna);
}

.form{
  width: var (-- view-width);
  margin: 3rem auto;
  max-width: var(--fixed-width);
  background: #d1e7dd;
  padding: 2rem 2.5 rem;
  border-radius: var(border-radius);
  box-shadow: var(--shadow);
}
.row{
  margin-bottom: 1rem;
}

.form-label
{
  display: block;
  font-size: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
}

.btn-hipster:hover{
  color: salmon;
  background: #0f5132;
}

.form-input{
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--border-radius);
  background: var(--burnt-sienna-600);
  border: 1px solid var(--grey-200);
}
.form-text{
  height: 7rem;
}
::placeholder{
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert{
  color: var(--red-dark)
}
/*spinner*/
.loading{
  width: 5rem;
  height: 5rem;
  border: 5px solid var(--burnt-sienna-400);
  border-radius: 50%;
  border-top: var(--burnt-sienna-950);
  animation: spin 1s ease infinite;
}
@keyframes spin {
  to{
    transform: rotate(360deg);
  
  }
}
.text-underline{
  width: 7rem;
  height: 0.25em;
  background: var(--burnt-sienna-300);
  margin: 0 auto;
}